.local/
.vscode/
pio/.pioenvs/
pio/.piolibdeps/
drawer/drawer.scad
*.vcxproj
*.filters
iSpindel/Debug/
iSpindel/__vm/
.pioenvs
.piolibdeps
.pio
.vscode
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/.browse.c_cpp.db*
.clang_complete
.gcc-flags.json
.cproject
.project
.settings
